<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <p class="center">Copyright &copy; 2022</p>
        </div>
    </div>
</footer>
</body>
</html>