<nav>
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Passport JS</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/docs">Docs</a></li>
            <li><a href="/summary">Summary</a></li>

            <% if(!user) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            <% } %>

            <% if(user) { %>
                <li><a href="/secret">Secret</a></li>
                <li><a class="logout-btn">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/docs">Docs</a></li>
    <li><a href="/summary">Summary</a></li>

    <% if(!user) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
    <% } %>

    <% if(user) { %>
        <li><a href="/secret">Secret</a></li>
        <li><a class="logout-btn">Logout</a></li>
    <% } %>
</ul>