<%- include('./partials/head.ejs') %>

    <main class="container">
        <section id="showcase" class="section row">
            <div class="col m12 l9">
                <h1>Passport JS</h1>

                <p>Passport JS is an authentication library for Node.js. It is extremely flexible ad modular. The passport JS libaray can be used in any Express JS based web-application. Passport JS provides a large set of authentication strategies, which supports authentication methods such as username and password, Facebook, Twitter, and more.</p>

                <a href="/docs" class="waves-effect waves-light btn-large">Get Started</a>
            </div>
    
            <div class="col m12 l3 hide-on-med-and-down">
                <img id="index-logo" src="/img/passport-logo.png" alt="passport-logo">
            </div>
        </section>

        <section id="features" class="section scrollspy">
            <h3>Features</h3>

            <div class="row">
                <div class="col s12 m6 l4">
                    <div class="card-panel z-depth-2 center-align">
                        <i class="material-icons">lock</i>

                        <p>500+ authentication strategies</p>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card-panel z-depth-2 center-align">
                        <i class="material-icons">check_circle</i>

                        <p>Easily handle success and failure</p>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card-panel z-depth-2 center-align">
                        <i class="material-icons">group</i>

                        <p>Supports persistent sessions</p>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card-panel z-depth-2 center-align">
                        <i class="material-icons">ads_click</i>

                        <p>Pick and choose required strategies</p>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card-panel z-depth-2 center-align">
                        <i class="material-icons">build</i>

                        <p>Implement custom strategies</p>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card-panel z-depth-2 center-align">
                        <i class="material-icons">dns</i>

                        <p>Lightweight code base</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>