<%- include('./partials/head.ejs') %>

    <main class="container">    
        <form action="/signup" method="POST" class="z-depth-1 form">
            <%- include('./partials/alert.ejs') %>
            
            <h3>Signup</h3>
    
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input id="email" name="email" type="text">
                <label for="email">Email</label>
            </div>
    
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input id="password" name="password" type="password">
                <label for="password">Password</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input id="confirmPassword" name="confirmPassword" type="password">
                <label for="confirmPassword">Confirm Password</label>
            </div>
    
            <button class="btn waves-effect waves-light" type="submit">
                Submit
            </button>
        </form>
    </main>

<%- include('./partials/footer.ejs') %>